html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    
}

header.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1rem;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.2rem;
    background-color: black;
    color: #d1006a;
}

nav.nav{
    display:flex;
    gap:1rem;
}

.nav a{
    text-decoration: none;
    color: #d1006a;
    font-weight: bold;
}

.nav a:hover{
    color:white;
}

.nav a.active{
    color:white;
}

.busqueda input{
    padding:0.4rem;
    border-radius:1.5rem;
    border-color: #d1006a;
    font-size: 1rem;
    text-align: left;
    background-color: black;
    color:#d1006a;
}

.home-Container, .error{
    background-image: url('/0.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.home-content, .error{
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    flex-grow: 1;
}

.home-content img {
    max-width: 400px;
    margin-bottom: 0.2rem;
    text-align: center;

}
.error h1{
    font-size: 70px;
    font-style: italic;
    color: #d1006a;
}
.error p{
    font-size: 1.5rem;
    color: black;
}

.link-Error{
    text-decoration: none;
    background-color: black;
    padding: 0.9rem;
    border-radius: 10px;
    border: #d1006a 2px solid;
    color: #d1006a;
    font-weight: bold;
}

.link-Error:hover{
    background-color: #d1006a;
    color: black;
    border-color: black;
}

.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem;
    color:#d1006a;
    background-color: black;
    font-size: 0.8rem;
}
.footer-Textos{
    text-align: center;
}

.footer-Iconos{
    position:fixed;
    display: flex;
    gap:1rem;
}

.login-Container, .register-Container, .home-Container, .create-Container, .progres-details-Container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#d1006a;
    padding: 2rem;
    text-align: center;
}
.progres-details-Container{
    position:relative;
    min-height: 75vh;
}
.login-Container{
    background-image: url('/1.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 80vh;
}
.register-Container, .create-Container, .details-Container{
    background-image: url('/2.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 80vh;
}
.login-Container h1, .register-Container h1, .create-Container h1{
    font-size: 70px;
    font-style: italic;
}
.login-Titulo, .register-Titulo, .create-Titulo{
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.login-Form, .register-Form, .create-Form{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.login-Form input, .register-Form input, .register-Container select, .create-Form input{
    padding:0.8rem;
    border-radius:1.5rem;
    font-size: 1rem;
    text-align: left;
}
.login-Form input:focus, .register-Form input:focus, .create-Form input:focus{
    border-color: #d1006a;    
}

.home-Container button, .login-Container button, .register-Container button, .create-Container button{
    background-color: #d1006a;
    color:black;
    padding: 0.8rem;
    border:2px solid black;
    border-color: black;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1rem;

}

.home-Container button:hover, .login-Container button:hover, .register-Container button:hover, .create-Container button:hover{
    background-color: black;
    color:#d1006a;  
    border-color: #d1006a;
}

.services{
    background-color: black;
    color:#d1006a;
    height: 150vh;
}
.services a{
    text-decoration: none;
}

.services .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services h1{
    font-style: italic;
}

.services .row .col-md-4 {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.services .row .col-md-4:hover img {
    opacity: 0.7; /* Reduce la opacidad de la imagen */
}

.services .row .col-md-4:hover h5 {
    color: white; /* Cambia el color del texto cuando el mouse está sobre el div */
}

.custom-img{
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
.exercicesFun{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-image: url('/1.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
    
}
.card{
    border:1px solid #d1006a;
    border-radius: 10px;
    overflow: hidden;

}
.card img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.card-body{
    padding:15px;
    text-align: center;
}

.card-title{
    font-size: 1.2rem;
    color:#d1006a;
    margin-top: 1rem;
}

.custom-img-1{
    max-height: 100px;
    max-height: 150px;
    object-fit: cover;
}

.row {
    display:flex;
    gap:2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.col-md-4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.user-Progres{
    display: block;
    padding: 0.8rem;
    
}

.user-Progres:hover{
    font-size: 0.9rem;
    color:white !important;
}

header.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1rem;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.2rem;
    background-color: black;
    color: #d1006a;
}

nav.nav{
    display:flex;
    gap:1rem;
}

.nav a{
    text-decoration: none;
    color: #d1006a;
    font-weight: bold;
}

.nav a:hover{
    color:white;
}

.nav a.active{
    color:white;
}

.busqueda input{
    padding:0.4rem;
    border-radius:1.5rem;
    border-color: #d1006a;
    font-size: 1rem;
    text-align: left;
    background-color: black;
    color:#d1006a;
}

.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem;
    color:#d1006a;
    background-color: black;
    font-size: 0.8rem;
}

.footer-Textos{
    text-align: center;
}

.footer-Iconos{
    position:fixed;
    display: flex;
    gap:1rem;
}

.contacto-container {
    background-image: url("/1.jpeg");
    background-size: cover;
    color: white;
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
  }
  
  .contacto-form {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 10px;
    width: 45%;
    backdrop-filter: blur(5px);
  }
  
  .contacto-titulo {
    color: #ff007f;
    font-weight: 900;
    font-size: 2rem;
  }
  
  .contacto-label {
    display: block;
    margin: 1rem 0 0.5rem;
    color: #ff007f;
  }
  
  .contacto-input,
  .contacto-textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    background-color: white;
    color: black;
  }
  
  .contacto-textarea {
    resize: none;
  }
  
  .contacto-politicas {
    margin-top: 1rem;
    color: #ff007f;
  }
  
  .contacto-boton {
    margin-top: 1rem;
    background-color: #ff007f;
    color: black;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contacto-info {
    width: 45%;
  }
  
  .contacto-boton:hover {
    background-color: #d1006a;
    color: white;
  }
  
.login-Container, .register-Container, .create-Container, .details-Container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#d1006a;
    padding: 2rem;
    text-align: center;
}

.login-Container{
    background-image: url('/1.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 80vh;
}
.register-Container, .create-Container, .details-Container{
    background-image: url('/2.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 80vh;
}

.exercice-Rut-Container{
    background-image: url('/5.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 80vh;
}

.login-Container h1, .register-Container h1, .create-Container h1, .details-Container h1, .exercice-Rut-Container h1{
    font-size: 70px;
    font-style: italic;
    color: #d1006a;
}

.details-Container h2{
    font-size: 35px;
    font-style: italic;
    color: #d1006a;

}
.login-Titulo, .register-Titulo, .create-Titulo, .edit-Titulo, .exer-Rut-Edit-Titulo{
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.login-Form, .register-Form, .create-Form, .edit-Form{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.login-Form input, .register-Form input, .register-Container select, .create-Form input, .create-Container select{
    padding:0.8rem;
    border-radius:1.5rem;
    font-size: 1rem;
    text-align: left;
}
.login-Form input:focus, .register-Form input:focus, .create-Form input:focus{
    border-color: #d1006a !important;
}
.create-Form label{
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
}
.home-Container button, .login-Container button, .register-Container button, .create-Container button{
    background-color: #d1006a;
    color:black;
    padding: 0.8rem;
    border:2px solid black;
    border-color: black;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1rem;

}

.home-Container button:hover, .login-Container button:hover, .register-Container button:hover, .create-Container button:hover{
    background-color: black;
    color:#d1006a;  
    border-color: #d1006a;
}

.services{
    background-color: black;
    color:#d1006a;
    height: 150vh;
}
.services a{
    text-decoration: none;
}

.services .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services h1{
    font-style: italic;
}

.services .row .col-md-4 {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.services .row .col-md-4:hover img {
    opacity: 0.7; /* Reduce la opacidad de la imagen */
}

.services .row .col-md-4:hover h5 {
    color: white; /* Cambia el color del texto cuando el mouse está sobre el div */
}

.custom-img{
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
.exercicesFun{
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-image: url('/1.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
    top:0;    
}
.card{
    border:1px solid #d1006a;
    border-radius: 10px;
    overflow: hidden;

}
.card img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.card-body{
    padding:15px;
    text-align: center;
}

.card-title{
    font-size: 1.2rem;
    color:#d1006a;
    margin-top: 1rem;
}

.custom-img-1{
    max-height: 100px;
    max-height: 150px;
    object-fit: cover;
}

.row {
    display:flex;
    gap:2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.col-md-4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.user-Progres{
    display: block;
    padding: 0.8rem;    
}

.user-Progres:hover{
    font-size: 1.5rem;
    color:white !important;
}

.details-Card,  .login-Logout{
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 2rem;
    width: 50%;
    box-shadow: 0 2px 4px black;
    font-size: 1.5rem;
    color:black;
    text-align: center;
}
.details-Card img{
    border: 2px solid #d1006a;
    border-radius: 10px;
}
.btn-custom-edit,
.btn-custom-delete {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    min-width: 100px;
    transition: all 0.3s ease;
    margin: 5px;
}

.btn-custom-edit {
    background-color: black;
    color: #d1006a;
    border:2px solid black;
    border-color: black;
    border-radius: 0.5rem;
}

.btn-custom-edit:hover, .btn-custom-ex-Rut:hover {
    background-color: #d1006a;
    color: black;
}

.btn-custom-delete {
    background-color: #d1006a;
    color: black;
    border:2px solid black;
    border-color: black;
    border-radius: 0.5rem;
}

.btn-custom-delete:hover {
    background-color: black;
    color: #d1006a;
    border-color: #d1006a;
}

.btn-custom-ex-Rut{
    background-color: black;
    color: #d1006a;
    border:2px solid black;
    border-color: black;
    border-radius: 0.5rem;
    width: 200px;
    font-size: 24px;

}

.img-hover-shrink {
    transition: transform 0.3s ease;
}

.img-hover-shrink:hover {
    transform: scale(0.9);
}

.destacada {
    border: 2px solid #d1006a;
    background: #e8f5e9;
  }
  
  .etiqueta-ultimo {
    top: 0.5rem;
    right: 0.5rem;
    background: #d1006a;
    color: white;
    padding: 0.2rem 0.5rem;
    font-size: 0.75rem;
    border-radius: 4px;
  }

  .List{
    min-height: 100vh;
  }